.orange .toolbar a:hover{ color:#fe5a1e;}
.orange .toolbar .userNike{ color:#fe5a1e;}
.orange .header .search input.smt{background-color:#ff6e39;}
.orange .header .links{ background:url(./images/toolbar_links2.png) no-repeat;}
.orange .head_nav{background-color:#ff4400;}
.orange .head_nav .nav_list a i{ color:#cb3702; border-color:#cb3702;}
.orange .head_nav .nav_list a:hover{ background-color:#cb3702;}
.orange .head_nav .nav_list a.on{ background-color:#cb3702;}
.orange .head_nav .r_con .singin{background:url(./images/sign.jpg) no-repeat;}
.orange .head_nav .r_con .singined{background: url(./images/sign.jpg) no-repeat 0 -70px;}
.orange .singn_panel .dropdown_menu,.orange  .sign_board .dropdown_menu{ border-color:#ff4400;}
.orange .login_board b{ color:#E02F2F;}
.orange .singn_panel .dropdown_menu b{ color:#ff6600;}
.orange .junav .nav_list a.on{ color:#ff4400 ;border-bottom-color:#ff4400;}


.orange .junav .nav_list a.on{ color:#ff4400; border-bottom-color:#ff4400;}
.orange .junav .recommend a.on{ color:#ff4400;border-bottom-color:#ff4400; }

.orange .list_page span.current a{ background-color:#ff4400;}
.orange .about{ border-top-color:#ff4400;}
.orange .about li a:hover{ color:#ff4400;}
.orange .about li.w3 h3 a{ color:#ff4400;}
.orange .about li.w4 h4 em{ color:#ff4400;}
.orange .friendly_links .more:hover{ color:#ff4400;}


.orange .deal h4 em{ color:#ff6600;}
.orange .deal h4 span{ color:#ff6600;}
.orange .deal h4 a{ background:url(./images/dbg1.png) no-repeat 0 -256px}
.orange .deal h6 a{ color:#ff6600; }
.orange .bady_tab li .line_top{ background-color:#e69248;}
.orange .item_goods_list .brand_new{ background:url(./images/brand-new.png);}
.orange .price_info .item_btn .heart{background:url(./images/my-like.png) no-repeat -23px -37px;}
.orange .price_info .price .jd_current{ color:#ff6600}
.orange .price_info .item_btn .btn{ background:url(./images/new-alert-total.gif);}
.orange .price_info .item_btn .buy{ background-position: 0 -132px;}
.orange .price_info .item_btn .buy:hover{ background-position: 0 -184px;}
.orange .price_info .item_btn .over{ background-position: 0 -344px;}
.orange .price_info .item_btn .start{ background-position:0 -289px}
.orange .good_price .btn a{ background:url(./images/tag_state.gif) no-repeat -83px -125px;}

.orange .blockBL a:hover{color:#ff4400;}
.orange .an_tab_nav{ border-bottom-color:#ff4400;}


.orange .jd_num01{ color:#ff6600;}
.orange .org{color:#FF5500;}
.orange .bady_tab li a.badyactive{ color:#ed9100;}
.orange .bady_tab li a em{ color:#ff6600;}
.orange .g_list.buy .price_current {color: #ff6600;}
.orange .deal .newicon{background:url(./images/pp_icons.png) no-repeat 0 0;}
.orange .box_list .bar{color:#ff4400;}
.orange .baockP .leftb dl a:hover,.orange .baockP .leftb dl a.on{border-left-color:#ff6600;}

.orange .an_tab_nav li{ background:url('./images/bg.png') no-repeat 0 -27px; }
.orange .an_tab_nav li a{background:url('./images/bg.png') no-repeat right -27px;}
.orange .an_tab_nav li.on {background-position: 0 0;}
.orange .baockP .leftb dl dt{ color:#34bde9;}

.orange .warning_login em{ background:url(./images/center.gif) no-repeat 0 0;}
.orange .invite_friend dd .fuzhi{background: url(./images/center.gif) no-repeat 0 -87px;}
.orange .invite_friend dt em{color: #c41304;}

.pink .flutter .side_logo a{background:url(./images/side_logo.png) no-repeat #FF5A00 center;}
.orange .side_nav h3{ background-color:#ffc796; color:#cf6100;}
.orange .side_nav h3 a{ color:#cf6100;}
.orange .side_nav ul li a.on,.orange .side_nav ul li a.on:hover {background: #ff4400;color: #fff;}
.orange .side_nav .search_form .smt{ background:url(./images/icon_search.png) no-repeat #ff6e39 center;}
.orange .side_nav .add_link i{ background:url(./images/32787_icon.png) no-repeat;}

.orange .redm_c{border-color:#ff4400;}
.orange .redm_c .title{background-color:#ff4400;}
.orange .redm_c .link a{color:#DD671F;}
.orange .use_login .right .remberPwd a{color:#ff4400;}
.orange .use_login .right .loginBtn{background:url(./images/login.gif) no-repeat 0 0;}
.orange .use_login .right .jumoRegist{ background:url(./images/login.gif) -87px 0 no-repeat; }
.orange .registInfo .changeVercode{ color:#ff4400;}
.orange .registInfo .regist_stup p .cur{ color:#ff4400;}
.orange .registInfo .regist_stup p span.cur i{ background:url(./images/login.gif) no-repeat 0 -145px;}
.orange .registInfo .regist_atonce .regist{background:url(./images/login.gif) -86px 0 no-repeat;}
.orange .gosafeCenter {background: url(./images/login.gif) -87px 0;}
.orange .cooperatonType ul li h4 a{ background:url(./images/signcenter.png) no-repeat 0 0;}
.orange .goods_url input.btn{ background:url(./images/login.gif) no-repeat -87px 0;}
.orange .goods_url i{ color:#ff4400;}
.orange .deallist .list h4 span{color:#ff4400;}

.orange .user_pwd .sub_btn {background: url(./images/login.gif) -87px 0;}
.orange .login_email {background: url(./images/login.gif) -87px 0;}
.orange .input_file {background: url(./images/selectFile.png) no-repeat;}
.orange .deallist .list h4 a {background: url(./images/bg3.png) no-repeat;}
.orange .content_right .describe_goods h4 .btn {background: url(./images/duihuan.gif) no-repeat 0 -257px;}
.orange .content_right .describe_goods h4 a.jjks{ background-position:0 -291px;}
.orange .content_right .describe_goods h4 a.over{ background-position:0 -324px;}
.orange .content_right .J_TabBarWrap ul li a{background: url(./images/i3.png) right -66px no-repeat;}

.orange .show_box_msg .outer .title {background: url(./images/prompt1.png) no-repeat;}
.orange .show_box_msg .inner {background: url(./images/prompt2.png) repeat-y;}
.orange .show_box_msg .msg_footer {background: url(./images/prompt3.png) no-repeat;}
.orange .show_box_msg .inner .inner_report .sub_btn {background: url(./images/sub.png) no-repeat;}
.orange .goods_url .blockB li.recommand .subBtn {background: url(./images/center.gif) no-repeat -240px -326px;}
.orange .nav_c .nav_menu {border-bottom-color: #ff4400;}
.orange .nav_c .nav_menu a {background: url(./images/bg2.png) no-repeat 0 -445px;}
.orange .nav_c .nav_menu a em {background: url(./images/bg2.png) no-repeat 100% -445px;}

.orange .apply_addredd.try .apply_title .one,.orange .apply_addredd.try .apply_title .two,.orange .apply_addredd.try .apply_title .three{width:370px; height:29px; background:url(./images/dotry.jpg) no-repeat 0 0;}
.orange .apply_addredd.exchange .apply_title .one,.orange .apply_addredd.exchange .apply_title .two,.orange .apply_addredd.exchange .apply_title .three{width:370px; height:29px; background:url(./images/doexchange.jpg) no-repeat 0 0;}