*{
	margin:0;
	padding:0
}
body{
	font-size:12px; font-family:Tahoma; color:#000000; margin:0; padding:0;
	background:#dfdfdf;
	overflow:hidden;
}

.login{
	margin:0 auto;
	width:690px;
	height:600px;
	background:#dfdfdf url(../images/login_main_bg.jpg) no-repeat 0 0;

}
.login_info_title{
	line-height:22px;
	float:left;
	color: #010101;
	max-width: 270px;
}
.login_info_title a{
	color:#010101;
	text-decoration: none;
}
.login_info_title a:hover{
	color:#226FB3;
}
.form_info{
	width:250px;
	height:150px;
	margin-top:200px;
	margin-right:100px;
	float:right;
	display:inline;
}
.field{
	margin:10px;
}
.field label{
	float:left;
	padding:6px;
}
.field input.text{
	border:1px solid #c5c5c5;
	padding:6px;
	background:url(../images/field_text_bg.jpg) repeat-x left center;
}
.field .button{
	background:url(../images/login_button.jpg) no-repeat left center;
	border:none;
	width:94px;
	height:28px;
	cursor:pointer;
}
/*说明*/
.login_info {
	width: 300px;
	height: 40px;
	margin-top: 300px;
	margin-left: 22px;
	_margin-left: 11px;
	float: left;
}
.fl{float:left}
.title{width: 60px;margin-right: 10px;}
#message {
	background: url(../images/warming.png) no-repeat center;
	width: 342px;
	margin-left: -50px;
	color: #7D5018;
	text-align: center;
	height: 50px;
	line-height: 40px;
}