.green .toolbar a:hover{ color:#669722;}
.green .toolbar .userNike{ color:#669722;}
.green .header .search input.smt{background-color:#8DBB4D;}
.green .header .links{ background:url(./images/toolbar_links2.png) no-repeat;}
.green .head_nav{background-color:#6db110;}
.green .head_nav .nav_list a i{ color:#609911; border-color:#609911;}
.green .head_nav .nav_list a:hover{ background-color:#609911;}
.green .head_nav .nav_list a.on{ background-color:#609911;}
.green .head_nav .r_con .singin{background:url(./images/sign.jpg) no-repeat;}
.green .head_nav .r_con .singined{background: url(./images/sign.jpg) no-repeat 0 -70px;}
.green .singn_panel .dropdown_menu,.green  .sign_board .dropdown_menu{ border-color:#6db110;}
.green .login_board b{ color:#E02F2F;}
.green .singn_panel .dropdown_menu b{ color:#568F08;}
.green .junav .nav_list a.on{ color:#6db110 ;border-bottom-color:#6db110;}


.green .junav .nav_list a.on{ color:#6db110; border-bottom-color:#6db110;}
.green .junav .recommend a.on{ color:#6db110;border-bottom-color:#6db110; }

.green .list_page span.current a{ background-color:#6db110;}
.green .about{ border-top-color:#6db110;}
.green .about li a:hover{ color:#6db110;}
.green .about li.w3 h3 a{ color:#6db110;}
.green .about li.w4 h4 em{ color:#6db110;}
.green .friendly_links .more:hover{ color:#6db110;}


.green .deal h4 em{ color:#568F08;}
.green .deal h4 span{ color:#568F08;}
.green .deal h4 a{ background:url(./images/dbg1.png) no-repeat 0 -256px}
.green .deal h6 a{ color:#568F08; }
.green .bady_tab li .line_top{ background-color:#8DBB4D;}
.green .item_goods_list .brand_new{ background:url(./images/brand-new.png);}
.green .price_info .item_btn .heart{background:url(./images/my-like.png) no-repeat -23px -37px;}
.green .price_info .price .jd_current{ color:#568F08}
.green .price_info .item_btn .btn{ background:url(./images/new-alert-total.gif);}
.green .price_info .item_btn .buy{ background-position: 0 -132px;}
.green .price_info .item_btn .buy:hover{ background-position: 0 -184px;}
.green .price_info .item_btn .over{ background-position: 0 -344px;}
.green .price_info .item_btn .start{ background-position:0 -289px}
.green .good_price .btn a{ background:url(./images/tag_state.gif) no-repeat -83px -125px;}

.green .blockBL a:hover{color:#6db110;}
.green .an_tab_nav{ border-bottom-color:#6db110;}


.green .jd_num01{ color:#568F08;}
.green .org{color:#8DBB4D;}
.green .bady_tab li a.badyactive{ color:#6FA523;}
.green .bady_tab li a em{ color:#568F08;}
.green .g_list.buy .price_current {color: #568F08;}
.green .deal .newicon{background:url(./images/pp_icons.png) no-repeat 0 0;}
.green .box_list .bar{color:#6db110;}
.green .baockP .leftb dl a:hover,.green .baockP .leftb dl a.on{border-left-color:#568F08;}

.green .an_tab_nav li{ background:url('./images/bg.png') no-repeat 0 -27px; }
.green .an_tab_nav li a{background:url('./images/bg.png') no-repeat right -27px;}
.green .an_tab_nav li.on {background-position: 0 0;}
.green .baockP .leftb dl dt{ color:#758F51;}

.green .warning_login em{ background:url(./images/center.gif) no-repeat 0 0;}
.green .invite_friend dd .fuzhi{background: url(./images/center.gif) no-repeat 0 -87px;}
.green .invite_friend dt em{color: #c41304;}

.green .flutter .side_logo a{background:url(./images/side_logo.png) no-repeat #6db110 center;}
.green .side_nav h3{ background-color:#E9F1DE; color:#6C9631;}
.green .side_nav h3 a{ color:#6C9631;}
.green .side_nav ul li a.on,.green .side_nav ul li a.on:hover {background: #6db110;color: #fff;}
.green .side_nav .search_form .smt{ background:url(./images/icon_search.png) no-repeat #8DBB4D center;}
.green .side_nav .add_link i{ background:url(./images/32787_icon.png) no-repeat;}

.green .redm_c{border-color:#6db110;}
.green .redm_c .title{background-color:#6db110;}
.green .redm_c .link a{color:#DD671F;}
.green .use_login .right .remberPwd a{color:#6db110;}
.green .use_login .right .loginBtn{background:url(./images/login.gif) no-repeat 0 0;}
.green .use_login .right .jumoRegist{ background:url(./images/login.gif) -87px 0 no-repeat; }
.green .registInfo .changeVercode{ color:#6db110;}
.green .registInfo .regist_stup p .cur{ color:#6db110;}
.green .registInfo .regist_stup p span.cur i{ background:url(./images/login.gif) no-repeat 0 -145px;}
.green .registInfo .regist_atonce .regist{background:url(./images/login.gif) -86px 0 no-repeat;}
.green .gosafeCenter {background: url(./images/login.gif) -87px 0;}
.green .cooperatonType ul li h4 a{ background:url(./images/signcenter.png) no-repeat 0 0;}
.green .goods_url input.btn{ background:url(./images/login.gif) no-repeat -87px 0;}
.green .goods_url i{ color:#6db110;}
.green .deallist .list h4 span{color:#6db110;}

.green .user_pwd .sub_btn {background: url(./images/login.gif) -87px 0;}
.green .login_email {background: url(./images/login.gif) -87px 0;}
.green .input_file {background: url(./images/selectFile.png) no-repeat;}
.green .deallist .list h4 a {background: url(./images/bg3.png) no-repeat;}
.green .content_right .describe_goods h4 .btn {background: url(./images/duihuan.gif) no-repeat 0 -257px;}
.green .content_right .describe_goods h4 a.jjks{ background-position:0 -291px;}
.green .content_right .describe_goods h4 a.over{ background-position:0 -324px;}
.green .content_right .J_TabBarWrap ul li a{background: url(./images/i3.png) right -66px no-repeat;}

.green .show_box_msg .outer .title {background: url(./images/prompt1.png) no-repeat;}
.green .show_box_msg .inner {background: url(./images/prompt2.png) repeat-y;}
.green .show_box_msg .msg_footer {background: url(./images/prompt3.png) no-repeat;}
.green .show_box_msg .inner .inner_report .sub_btn {background: url(./images/sub.png) no-repeat;}
.green .goods_url .blockB li.recommand .subBtn {background: url(./images/center.gif) no-repeat -240px -326px;}
.green .nav_c .nav_menu {border-bottom-color: #6db110;}
.green .nav_c .nav_menu a {background: url(./images/bg2.png) no-repeat 0 -445px;}
.green .nav_c .nav_menu a em {background: url(./images/bg2.png) no-repeat 100% -445px;}

.green .apply_addredd.try .apply_title .one,.green .apply_addredd.try .apply_title .two,.green .apply_addredd.try .apply_title .three{width:370px; height:29px; background:url(./images/dotry.jpg) no-repeat 0 0;}
.green .apply_addredd.exchange .apply_title .one,.green .apply_addredd.exchange .apply_title .two,.green .apply_addredd.exchange .apply_title .three{width:370px; height:29px; background:url(./images/doexchange.jpg) no-repeat 0 0;}