@charset "utf-8";
/*
 @ 文本框插入表情插件
 @ 作者：bank 成都网悦时代科技有限公
*/
/*FaceBox*/
#SmohanFaceBox{ display:block; width:352px; height:187px; position:absolute; top: 100px;right: 0px;/*top:130px; left:-50px;*/ z-index:9999;}
#SmohanFaceBox .Corner{ display:block; width:28px; height:15px; background:url(../images/facebg_1.png) -32px -100px no-repeat; position:absolute; right:90px; top:0; z-index:100;}
#SmohanFaceBox .Content{ display:block; width:350px; height:185px; padding:10px; background:#ffffff;border:1px solid #cfcfcf; z-index:99; margin:14px 0px 0px 0px; box-shadow:0px 1px 10px rgba(204,204,204,1); border-radius:2px;}
#SmohanFaceBox .Content h3{ margin:0; padding:0; width:350px; height:30px; line-height:26px; display:block; font-size:14px; text-align:left;}
#SmohanFaceBox .Content h3 span{ float:left;}
#SmohanFaceBox .Content h3 .close{ display:inline-block; width:16px; height:16px; background:url(../images/facebg_1.png) -30px -120px; float:right; cursor:pointer;}
#SmohanFaceBox .Content h3 .close:hover{ background-position:-46px -120px;}
#SmohanFaceBox .Content ul{ margin:5px 0px 0px 0px; padding:0; list-style-type:none;}
#SmohanFaceBox .Content ul li{ display:inline-block; width:22px; height:22px; margin:0px;padding:2px; border:1px solid #f8f8f8; float:left;}
#SmohanFaceBox .Content ul li:hover{ border-color:#6C3;}
/*解析表情*/
#Zones{ display:block; width:696px; height:auto; padding:26px; position:relative; background:#fff; border:2px dashed #cacaca; margin:30px auto; display:none;}